html, body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)) ,url(/img/dewang-gupta-1286503-unsplash-min.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    color: white;
    margin: 0;
    padding: 0;
    font-family: 'Sarabun', sans-serif;
}

h1 {

    text-transform: uppercase;
    font-weight: 700;
    margin: 0 20px;
    display: inline-block;
    position: relative;
    left: 15%;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex: 1 0 auto;
    width: 100%;
    
    
    
}

p {
    margin: 0 auto;
    max-width: 1140px;
    
}

li {
    padding: 0px 10px;
    
}

li:first-child {
    padding-right: 10px;
    padding-left: 0;
    
}

a {
    padding: 5px;
}

a:link,
a:visited {
    color: white;
    text-decoration: none;
    
}

a:hover,
a:active {
    border-bottom: 2px solid white;
}

.menu {
    background-color: #000;
}